@import "base.scss";

.peopleIndicator {
  align-items: center;
  background: none;
  border: none;
  color: $color-white;
  cursor: pointer;
  display: flex;
  font-weight: $font-weight-bold;
  opacity: 1;
  transition: $time-medium opacity;
  user-select: none;
}

.unconnected {
  opacity: $opacity-dimmed;
}

.smileys {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-left: $gap-sm;
  user-select: none;
  min-width: 42px;
}

.laterSmiley {
  margin-left: -28px;
}
