@import "base.scss";

.peopleIndicator {
  align-items: center;
  color: $color-white;
  display: flex;
  font-weight: $font-weight-bold;
}

.smileys {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-left: $gap-sm;
  user-select: none;
  min-width: 50px;
}
