@import "base.scss";

.controlsNotice {
  align-items: flex-end;
  display: flex;
  user-select: none;
}

.text {
  background: transparentize($color: $color-dark, $amount: 0.2);
  border-radius: $width-border-radius-medium;
  color: $color-gray-lightest;
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
  padding: $gap-md;
  position: relative;
}
