@import "base.scss";

.headerLogo {
  padding-left: 3rem;
  user-select: none;
  width: 100%;
}

.heading {
  display: inline-block;
  margin-top: -0.5rem;
  position: relative;
}

.link {
  font-weight: $font-weight-bolder;
  text-decoration: none;
  text-transform: uppercase;

  .light & {
    color: $color-white;
    font-size: $font-size-lg;
  }

  .dark & {
    color: $color-black;
  }
}

.beta {
  background: $color-pink;
  border-radius: 2px;
  color: $color-white;
  font-size: $font-size-sm;
  height: 22px;
  left: calc(100% + 0.25rem);
  line-height: 25px;
  padding: 0.01rem 0.4rem;
  position: absolute;
  top: -50%;
  transform: rotate(-10deg);
}
