@import "base.scss";

.main {
  margin: auto;
  max-width: 42rem;
  padding: 0 1rem;
}

.main {
  margin-bottom: -$gap-md;
}

.heading {
  margin-bottom: $gap-md;
  margin-top: $gap-lg;
}

.p {
  margin-bottom: $gap-md;
}

.teamMembers {
  text-align: center;
}
