@import "base.scss";

.modal {
  background: $color-white;
  border-radius: $width-border-radius-medium;
  outline: none;
  overflow: initial;
  padding: $gap-md;
  position: relative;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparentize($color-black, 0.1);
}
