@import "base.scss";

.input {
  border: $width-border solid $color-dark;
  border-radius: $width-border-radius;
  font-family: $font-family-text;
  font-size: $font-size-xs;
  padding: 0.75rem 1rem;
}
