@import "base.scss";

.closeButton {
  align-items: center;
  background: $color-dark;
  border-radius: 100%;
  border: $width-border-light solid $color-white;
  color: $color-white;
  cursor: pointer;
  display: flex;
  font-weight: $font-weight-bolder;
  justify-content: center;
  position: absolute;
  user-select: none;

  &.small {
    height: $gap-md;
    font-size: $font-size-sm;
    right: -#{$gap-md / 2.5};
    top: -#{$gap-md / 2.5};
    width: $gap-md;
  }

  &.large {
    height: $gap-lg;
    font-size: $font-size-lg;
    right: -#{$gap-lg / 2.5};
    top: -#{$gap-lg / 2.5};
    width: $gap-lg;
  }
}
